<div data-options="dxView: { name: 'procedure', title: 'PROCEDURE' }">
    <div class="procedure-header">
        <span class="procedure-title" data-bind="text: procedureName"></span>
        <div class="procedure-add"><div data-bind="dxButton: { text: 'Add entire procedure to Favorites', icon: 'favorites', clickAction: function () { addProcedure(); } }"></div></div>
    </div>
    <div style="clear: both"></div>
    <div class="dx-full-height">
        <div style="height: 30%; width: 100%;" class="dx-button" data-bind="dxAction: '#images/' + currentProcedure.id">
            <div class="dx-button-content embedded-toolbar">
                <div style="height: 30%; padding-bottom: 10%" class="dx-button-text">Image Gallery</div>
                <div data-bind="dxToolbar: { dataSource: currentProcedure.photos }">
                    <div data-options="dxTemplate: { name: 'item' }">
                        <img style="max-height: 50%;" data-bind="attr: { src: String($data) }"/>
                    </div>
                </div>                    
            </div>
        </div>
        <div style="height: 30%; width: 100%;" data-bind="dxButton: { text: 'Video Gallery' }"></div>
        <div style="height: 30%; width: 100%;" data-bind="dxButton: { text: 'Guidelines and Literature' }"></div>
    </div>
</div>