.mediacard {
    color: black;
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:5px;
    margin-left: 4px;
    overflow:hidden;
    width: 20%;
    min-width: 140px;
    max-width: 250px;
    float: left;
}