.mediacardfooter-button {
    width: 48%;
    height: 100%;
    border-right-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    display: inline-block;
    text-align: center;
}

.mediacardfooter-button:last-of-type {
    border-style: none;
}