.card {
    background: white;
    border:1px solid rgb(37, 37, 37);
    padding:0px;
    margin:5px;
    margin-left: 4px;
    overflow:hidden;
    width: 20%;
    min-width: 144px;
    max-width: 250px;
    float: left;
    
    -moz-box-shadow:    2px 2px #aaa;
    -webkit-box-shadow: 2px 2px #aaa;
    box-shadow:         2px 2px #aaa;

    -moz-border-radius:     2px;
    -webkit-border-radius:  2px;
    border-radius:          2px;       
}


.card h3 {
    font-weight: bolder;
    
    margin:0px;
    padding:5px;
    padding-bottom:0px;
    border-bottom :1px solid rgb(37, 37, 37);
}

.card p {
    margin:0px;
    padding:10px;
}

.card ul {
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}